<h1>Artists#search</h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>購入者名</th>
      <th>購入日時</th>
      <th>購入内容</th>
      <th>購入価格小計</th>
      <th>購入価格総計</th>
      <th>送付先</th>
      <th>ステータス</th>
      <th colspan="6"></th>
    </tr>
  </thead>
<tbody>
<% @histories.each do |history| %>
<tr>
  <td>
	<%= history.cart.user.name %>
  </td>
  <td>
	<%= history.cart.added_at %>
  </td>
  <td>

  </td>

  <td>
　</td>

  <td>
  	<%= history.cart.total_price %>
  </td>

  <td>
  </td>

  <td>
  	ステータス
  </td>
<% end %>
</tbody>
</table>