<h3 class="select-text">どちらか選択してください</h3>
<h5 class="select-text">※ログインされる方は<%= link_to "session_select" do %>こちら<% end %>から</h5>
<div class="select-box">
	<%= link_to new_user_registration_path, class: "" do %>
		<div class= "select_user_login">
			<div class="user-white-image">
				<li>一般の方はこちら</li>
			</div>
		</div>
	<% end %>

	<%= link_to new_artist_registration_path, class: "" do %>
		<div class= "select_artist_login">
			<div class="bg-artist-image">
				<div class="artist-white-image">
					<li>アーティストの方はこちら</li>
				</div>
			</div>
		</div>
	<% end %>
</div>
