// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
    font-size: 0.8em;
}

.says {
    display: inline-block;
    position: relative;
    top: -10px;
    margin: 10px 0 0 20px;
    padding: 13px 13px;
    border-radius: 12px;
    background: #E0F8F1;
    width: 500px;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #E0F8F1;
}

.says p {
    margin: 0;
    padding: 0;
}