// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.slider {
	display:none;
	padding: 20px;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.slider-image {
	margin-top: 20px;
	display: inline-block;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.slider-product-item-name {
	text-align: center;
	list-style: none;
	padding-left: 20px;
}

.product-index-search {
	width: 70%;
	padding-top: 30px;
	margin: 0 auto;
}

.product-index-search-form {
	width: 40%;
}

.product-index {
}

.product-item-box {
	margin-top: 10px;
}

.product-item {
	float: left;
	padding: 20px 15px 10px 0px;

}

.product-item-image {
	display: inline-block;
	margin: 10px;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.product-item-info {
	background-color: #FFF;
	padding: 175px 0px 2px 10px;
	margin-top: -175px;
	border-radius: 0px;
	box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
}

.product-item-name {
	padding-top: 10px;
}

.y-stock {
	color: #00FF00;
}


/* ranking */

.ranking {
	width: 100%;
	height: 1150px;
	margin-top: 30px;
	border: solid 0.8px lightgray;
	box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
	h4 {
		text-align: center;
		padding: 15px 0px;
		margin-top: 0px;
		border-bottom: solid 0.8px lightgray;
		background-color: #000;
		color: yellow;
		font-weight: 700;
	}
}

.ranking-title {
	font-size: 40px;
}

#sold_out {
	color: red;
}

.ranking-rank {
	float: left;
	width: 20%;
	font-size: 20px;
	background-color: 1;
	padding-top: 20px;
	margin-top: -10px;
	border-right: dashed 0.8px lightgray;
	list-style: none;
	text-align: center;

	li:nth-child(1) {
		padding-top: 5px;
	}

	/* 2, 3位 */
	li:nth-child(n+2) {
		padding-top: 40px;
	}

	/* 4位 */
	li:nth-child(n+6) {
		padding-top: 62px;
	}

	/* 5位以降 */
	li:nth-child(n+8) {
		padding-top: 74px;
	}

	/* 10位 */
	li:last-child {
		padding-bottom: 60px;
	}

}

.rank1 {
	width: 50%;
	height: 50%;
	background-color: #FFF;
}

.rank2 {
	width: 50%;
	height: 50%;
	background-color: #FFF;
}

.rank3 {
	width: 50%;
	height: 50%;
	background-color: #FFF;
}

.ranking-box {
	float: left;
	width: 80%;
	padding-top: 20px;
	margin-top: -10px;
}

.ranking-item {
	width: 80%;
	margin: 0 auto;
}

.ranking-item:nth-child(n+2) {
	padding-top: 13px;
	width: 80%;
	margin: 0 auto;
}

.ranking-product-image{
	width: 40%;
	float: left;
}

.ranking-artist-name{
	width: 60%;
	float: left;
	padding: 10px 0 0 15px;
}

/* show */

.border {
	width: 100%;
	line-height: 30px;
	font-size: 10px;
	color: white;
	margin: 0 20px 40px 0px;
	padding-left: 20px;
	background-color: black;
	border-radius: 20px;
	span {
		font-size: 15px;
		font-weight: bold;
	}
}

.product-item-image {
	display: inline-block;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.product-information {
	width: 100%;
	height: 300px;
	padding: 0px 0px 0px 20px;
}

.product-image {
	float: left;
}

.product-information-text {
	float: left;
	padding-left: 30px;
	width: 60%;
}

.product-show-movie {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.product-detailed-information {
	width: 100%;
	height: 300px;
	background-color: green;
}

.show-sidebar {
	width: 100%;
	height: 1024px;
}

.comment{
	width: 100%;
	height: 300px;
	background-color: orange;
}

.product-sidebar-sold-out {
	list-style: none;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}
