// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* select */

.select-text {
	text-align: center;
}

.select-box {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.select_user_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-right:10px;
	background-image: url("user.jpg");
	background-size: cover;
}

.user-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(176,196,222,0.5);
}

.user-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}

.select_artist_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-left:10px;
	background-image: url("artist.jpg");
	background-size: cover;
}

.artist-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(136,181,211,0.5);
}

.artist-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}



/* confirm_order */

.confirm-order{
	width: 100%;
	height: 100%;
}

.order-cart-item {
	padding: 10px 0px 5px 0px;
}

.cart-item-detail-info {
	float: left;
	padding-left: 30px;
}

.order-border {
	border-bottom: solid 1px #D8D8D8;
}

.order-cart-item-name {
	font-size: 15px;
}

.order-cart-item-sub-total{
	padding-top: 15px;
	color: #DF0202;
	float: left;
}

.order-cart-item-quantity {
	padding: 15px 0 8px 30px;
	float: left;
}

.address-select {
	width: 100%;
	height: 100%;
}

.select-buy{
	width: 30%;
	float: left;
	margin: 0 auto;
}

.please-add-address{
	font-size: 20px;
	font-weight: bold;
	color: #DF0202;
}

.total-price-text{
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
	float: left;
}

.total-price {
	font-size: 25px;
	font-weight: bold;
	color: #BC0303;
	padding-left: 30px;
	float: left;

	span {
	font-weight: normal;
	font-size: 15px;
	}
}

/* help */n


.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	margin: 0 0 2em 10px;
	padding: 1em 1em 0.5em 1em;
	background: #e1f5fe;
}
.cp_qa h1 {
	font-size: 1.2em;
	position: relative;
	margin-right: 1em;
	margin-left: -26px;
	padding: 0.3em;
	color: #ffffff;
	background-color: #42a5f5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.cp_qa h1::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: transparent #1976d2 transparent transparent;
}
.cp_qa dl {
	margin: 0;
}
.cp_qa dt {
	margin-bottom: 0.5em;
	padding: 0.2em 0.5em 0.5em 2em;
	border-radius: 0.2em;
	background: #ffb74d;
}
.cp_qa dd {
	margin-bottom: 1em;
	margin-left: 0;
	padding: 0.5em 1em 1.5em 3em;
}
/* QAアイコン */
.cp_qa dt::before,.cp_qa dd::before{
	font-size: 1.5em;
	color: #ffffff;
}
.cp_qa dt::before {
	margin: 0.3em 0.3em 0 -1em;
	content: 'Q';
}
.cp_qa dd::before {
	margin: 0 0.5em 0 -2em;
	padding: 0.2em 0.4em;
	content: 'A';
	border-radius: 0.2em;
	background: #00bcd4;
}