// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* select */

.select-text {
	text-align: center;
}

.select-box {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.select_user_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-right:10px;
	background-image: url("user.jpg");
	background-size: cover;
}

.user-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(176,196,222,0.5);
}

.user-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}

.select_artist_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-left:10px;
	background-image: url("artist.jpg");
	background-size: cover;
}

.artist-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(136,181,211,0.5);
}

.artist-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}



/* confirm_order */

.confirm-order{
	width: 100%;
	height: 100%;
}

.order-cart-item {
	padding: 10px 0px 5px 0px;
}

.cart-item-detail-info {
	float: left;
	padding-left: 30px;
}

.order-border {
	border-bottom: solid 1px #D8D8D8;
}

.order-cart-item-name {
	font-size: 15px;
}

.order-cart-item-sub-total{
	padding-top: 15px;
	color: #DF0202;
	float: left;
}

.order-cart-item-quantity {
	padding: 15px 0 8px 30px;
	float: left;
}

.address-select {
	width: 100%;
	height: 100%;
	background-color: orange;
}

.select-buy{
	width: 90%;
	margin: 0 auto;
}

.please-add-address{
	font-size: 20px;
	font-weight: bold;
	color: #DF0202;
}

.total-price-text{
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
	float: left;
}

.total-price {
	font-size: 25px;
	font-weight: bold;
	color: #BC0303;
	padding-left: 30px;
	float: left;

	span {
	font-weight: normal;
	font-size: 15px;
	}
}

