// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */

.width-80 {
	width: 80%;
	margin: 0 auto;
}

.user-show-left {
	width: 30%;
	float: left;
}

.user-show-image {
	margin: 0 auto;
	width: 80%;
}

.user-show-button {
	width: 80%;
}

.user-show-edit-button, .user-show-address-button {
	margin: 10px 0;
}

.user-show-right {
	width: 70%;
	float: left;
}

.user-show-table {
	width: 100%;
}

/* history */

.users-history-text tr {
	width: 100%;
}

.users-history-button {
	margin-top: 10px;
}

/* select */

.select-text {
	text-align: center;
}

.select-box {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.select_user_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-right:10px;
	background-image: url("user.jpg");
	background-size: cover;
}

.user-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(176,196,222,0.5);
}

.user-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}

.select_artist_login {
	float: left;
	width: 48%;
	height: 500px;
	margin-left:10px;
	background-image: url("artist.jpg");
	background-size: cover;
}

.artist-white-image {
	display: inline-block;
	margin: 200px auto;
	width: 100%;
	height: 100px;
	background-color: rgba(136,181,211,0.5);
}

.artist-white-image li{
	list-style: none;
	font-size: 30px;
	line-height: 100px;
	font-family: "Hiragino Sans";
	font-weight: bold;
	color: #FFF;
	width: 100%;
	text-align: center;
}



/* confirm_order */

.confirm-order{
	width: 100%;
	height: 100%;
}

.order-cart-item {
	padding: 10px 0px 5px 0px;
}

.cart-item-detail-info {
	float: left;
	padding-left: 30px;
}

.order-border {
	border-bottom: solid 1px #D8D8D8;
}

.order-cart-item-name {
	font-size: 15px;
}

.order-cart-item-sub-total{
	padding-top: 15px;
	color: #DF0202;
	float: left;
}

.order-cart-item-quantity {
	padding: 15px 0 8px 30px;
	float: left;
}

.address-select {
	width: 100%;
	height: 100%;
}

.select-buy{
	width: 30%;
	float: left;
	margin: 0 auto;
}

.please-add-address{
	font-size: 20px;
	font-weight: bold;
	color: #DF0202;
}

.total-price-text{
	font-size: 18px;
	font-weight: bold;
	padding-top: 35px;
	padding-bottom: 35px;
	float: left;
}

.total-price {
	font-size: 25px;
	font-weight: bold;
	color: #BC0303;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;

	span {
	font-weight: normal;
	font-size: 15px;
	}
}

/* help */

.faq-title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #42a5f5;
	list-style: none;
	padding-bottom: 20px;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	margin: 0 0 2em 10px;
	padding: 1em 1em 0.5em 1em;
	background: #e1f5fe;
}
.cp_qa h1 {
	font-size: 1.2em;
	position: relative;
	margin-right: 1em;
	margin-left: -26px;
	padding: 0.3em;
	color: #ffffff;
	background-color: #42a5f5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.cp_qa h1::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: transparent #1976d2 transparent transparent;
}
.cp_qa dl {
	margin: 0;
}
.cp_qa dt {
	margin-bottom: 0.5em;
	padding: 0.2em 0.5em 0.5em 2em;
	border-radius: 0.2em;
	background: #ffb74d;
}
.cp_qa dd {
	margin-bottom: 1em;
	margin-left: 0;
	padding: 0.5em 1em 1.5em 3em;
}
/* QAアイコン */
.cp_qa dt::before,.cp_qa dd::before{
	font-size: 1.5em;
	color: #ffffff;
}
.cp_qa dt::before {
	margin: 0.3em 0.3em 0 -1em;
	content: 'Q';
}
.cp_qa dd::before {
	margin: 0 0.5em 0 -2em;
	padding: 0.2em 0.4em;
	content: 'A';
	border-radius: 0.2em;
	background: #00bcd4;
}

.mail-title {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #42a5f5;
	list-style: none;
	border-bottom: solid 0.5px #e1f5fe;
}

.mail {
	list-style: none;
	padding: 20px 0;
	text-align: center;
}


/* thanks */

.background {
	width: 100%;
	margin: 0 auto;
	background-image: image-url('thanks.jpg');
  	background-size:cover;
  	box-shadow:
	inset 0 0 20px #fff /* 背景色と同じ色 */,
	inset 0 0 20px #fff,
	inset 0 0 20px #fff,
	inset 0 0 20px #fff;
}

.thanks-text1, .thanks-text2 {
	list-style: none;
	text-align: center;
}

.thanks-text1 {
	color: red;
	font-size: 25px;
	font-weight: bold;
	margin-top: -30px;
	padding-top: 240px;
}

.thanks-text2 {
	font-size: 20px;
	margin: 30px 0 50px 0;
}

.thanks-button-box {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 120px;
}

.thanks-link-button {
	font-size: 100%;
	margin: 0 40%;
	width: 20%;
}

/* history */

.users-status-description {
	width: 70%;
	border: solid 0.5px #A4A4A4;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 30px;
}

.users-history-text {
	color: red;
	font-size: 20px;
	font-weight: bold;
	list-style: none;
	padding: 40px 0;
}

.text-button {
}

/* edit */

.user-edit {
  position: relative;
  margin: 0 auto;

  width: 70%;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.user-edit-box {
  float: left;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

.user-edit:before, .user-edit:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.user-edit:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.user-edit-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 600;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
}
.user-edit-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user-edit-input {
  width: 90%;
  height: 40px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.user-edit-input:focus, .edit-input-member, .edit-input-introduction {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}

.user-edit-input-member {
  width: 90%;
  height: 60px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}

.user-edit-input-introduction {
  width: 90%;
  height: 200px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}

.lt-ie9 .edit-input {
  line-height: 48px;
}

.user-edit-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f0776c;
  border: 0;
  border-bottom: 2px solid #d76b60;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d76b60;
  box-shadow: inset 0 -2px #d76b60;
}
.user-edit-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.user-edit-option-link {
  list-style: none;
  padding: 5px 0;
  text-align: center;
}

.delete {
	list-style: none;
	text-align: right;
	margin-right: 180px;
}