<footer class="footer mt-auto py-3">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
      <span class="text-muted">CopyRight DIGRU.inc</span>
      </div>
    </div>
  </div>
</footer>